<footer>
    <div class="row">
        <div class="col-md-4 col-12">
            <img src="assets/flag.svg">
        </div>
        <div class="col-12 col-md-8 footer-text">
            <h1>Mapa trans</h1>
            <p>Mapa de lugares importantes.</p>
            <p class="credits">
                Illustrations designed by <a href="http://www.freepik.com">pikisuperstar / pch.vector / Freepik</a>
                <br>
                Chile-healthsites dataset by the <a href="https://data.humdata.org/organization/a1c0e6c7-a3e4-4db3-9955-cec338e8e935">Global Healthsites Mapping Project</a>.<br>
            Maptiles © <a href="https://www.maptiler.com/copyright/">MapTiler</a> and © <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors</p>
        </div>
    </div>
</footer>