@import 'material-icons/iconfont/material-icons.css';

.navbar {
    position: fixed;
    background-color: #feeeff;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, #e74aa8, #2188fd);
    border-image-slice: 1;
    box-shadow: rgba(0, 0, 0, 0.1) -1px 5px 11px 0px;
    z-index: 2000;
}

.navbar-brand {
    margin-left: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(-75deg,#e74aa8,#2188fd);
    background-clip: text;
    font-size: 30px;
}

.material-icons-outlined {
    vertical-align: middle;
    margin-bottom: 2px;
    margin-left: 10px;
    margin-right: 2px;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(-75deg,#e74aa8,#2188fd);
    background-clip: text;
}