<app-map-main></app-map-main>
<div class="content">
    <div class="row d-flex align-items-center">
        <div class="col-md-4">
            <img src="assets/landing-1.svg" class="img-fluid" alt="Illustration of people with buildings behind.">
        </div>
        <div class="col-md-6 landing-text">
            <h1>Mapa trans</h1>
            <p>Colección de lugares importantes para personas trans. Agrega un nuevo pin, comparte con #Hashtag en redes sociales y mira los pines de otres usuaries.</p>
            <button type="button" class="btn btn-first">Agregar</button>
        </div>
    </div>
    <div class="row d-flex align-items-center">
        <div class="col-md-6  landing-text-left">
            <h1>Tus experiencias</h1>
            <p>Crea un perfil y junta todos tus pines. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultricies, nulla in egestas vehicula, diam tellus maximus purus, et suscipit orci est sit amet purus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi id tellus ac felis ullamcorper feugiat. </p>
            <button type="button" class="btn btn-second">Crear perfil</button>
        </div>
        <div class="col-md-4">
            <img src="assets/landing-2.svg" class="img-fluid perfil" alt="Illustration of people with buildings behind.">
        </div>
    </div>
</div>