.map-container {
    height: 700px;
    border-bottom: 1px solid transparent;
    border-color: rgb(221, 221, 221);
  }
  
  .map-frame {
    height: 100%;
  }
  
  #map {
    height: 100%;
  }

  .region-button {
      position: absolute;
      top: 20px;
      right: 20px;
      padding: 10px;
      z-index: 400;
  }