.map-container {
    height: 700px;
    padding-top: 80px;
    border-bottom: 1px solid transparent;
    border-color: rgb(221, 221, 221);
  }
  
  .map-frame {
    height: 100%;
  }
  
  #map {
    height: 100%;
  }
